set daemon 60                     # check services at 1-minute intervals
set logfile /var/log/monit.log
set pidfile /var/run/monit.pid
set idfile {{ idfile }}
set statefile {{ statefile }}

set eventqueue
    basedir /var/lib/monit/events # set base directory where events are stored
    slots 100                     # optionally limit the queue size

set httpd
    port {{ monit_port }}
    ssl enable
    pemfile {{ pemfile }}
    allow {{ monit_user }}:{{ monit_passwd }}
{% for item in monit_allow_list %}
    allow {{ item }}
{% endfor %}

check system $HOST
    if loadavg (1min) > 4 then alert
    if loadavg (5min) > 2 then alert
    if cpu usage > 95% for 10 cycles then alert
    if memory usage > 85% then alert
    if swap usage > 45% then alert

include {{ includedir }}/*.monit
